body{
    font-family: 'Amatic SC';
    background-color:black;
    color:white
}

header{
    font-size: 6vw 

}
header p{
    font-size:20px;
}

#home{
    width:3%;
    float:right;
}

#home:hover{
	opacity:0.5;
}

#grid{
    display:grid;
    grid-template-columns:70% 30% ;
}

#grid2{
    display:grid;
    grid-template-columns:50% 50% ;
}
#grid3{
    display:grid;
    grid-template-columns:33% 33% 33% ;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    padding-top:20px;
}


#tabsbar{
    display:grid;
    
}
#tabs{
    display:inline-block;
}
#tabs img{
    width:100%;
}
#tabs div{
    
    display:inline-block;
    width:9%;
}


.wrapper{
 
    display:grid;
    width:80%;
    margin:auto; 
    padding-bottom:50px;
} 

#picture{
    display:inline-block;
    width:80%;
    padding-right:50px;
    padding-left:20px;
    padding-top:20px
  
}
#description{
    display:inline-block;
    float:left;
    padding-right:20px;
    font-size: 1vw 
   
}
/* graph */
.container{
	background-color:black;
}

.skill-name-left {
	text-align : right;
}
.skill-name-right {
	text-align : left;
}
h3{
	font-size:20px;
	margin: 0 0 0 0;
	line-height : 20px;
	font-family : 'Amatic SC';
	color : 	#C8C8C8;
	font-weight: bold;
}
.graph-entry {
	margin-top :  10px;
}
.skill-level {
	text-align : right;
}

.skill-level-right-1 {
	float:left;
	text-align : right;
	background-color : white;
	width: 60%;
	height : 20px;
	vertical-align:bottom;
}
.skill-level-right-2 {
	float:left;
	background-color : white;
	width: 80%;
	height : 20px;
	vertical-align:bottom;
}
.skill-level-right-3 {
	float:left;
	background-color : white;
	width: 80%;
	height : 20px;
	vertical-align:bottom;
}
.skill-level-right-4 {
	float:left;
	background-color : white;
	width: 100%;
	height : 20px;
	vertical-align:bottom;
}
.skill-level-right-5 {
	float:left;
	background-color : white;
	width: 100%;
	height : 20px;
	vertical-align:bottom;
}

.skill-level-right-6 {
	float:left;
	background-color : white;
	width: 50%;
	height : 20px;
	vertical-align:bottom;
}

.skill-level-right-7 {
	float:left;
	background-color : white;
	width: 50%;
	height : 20px;
	vertical-align:bottom;
}

.skill-level-right-8 {
	float:left;
	background-color : white;
	width: 40%;
	height : 20px;
	vertical-align:bottom;
}

.skill-level-right-9 {
	float:left;
	background-color : white;
	width: 100%;
	height : 20px;
	vertical-align:bottom;
}
.skill-level-right-10 {
	float:left;
	background-color : white;
	width: 80%;
	height : 20px;
	vertical-align:bottom;
}
.graph-entry .skill-level{ 

    transition:  1s;
    -webkit-transition: 1s;
}
.graph-entry h3{ 

    transition:  1s;
    -webkit-transition: 1s;
}

.graph-entry:hover .skill-level{
    background-color : grey;
	height : 25px;
}
.graph-entry:hover h3{
	font-size : 25px;
	line-height:25px;
}
/*  */

#skills{
    border-left:1px solid grey;
    padding-left:50px;
}

#grid3 img{
    width:90%
}

.imagePop:hover{
    animation: photo 0.3s linear 1;
}
@keyframes photo{
    50%  {transform: scale(1.1);}
}

#tradart img{
    width:30%;
}
#digitalart img{
    width:30%
}