#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}
html{
box-sizing:border-box;
}
*,*:before, *:after{
box-sizing:inherit;
}

@font-face{
	font-family:Pacifico;
	src:url(Pacifico-Regular.ttf)
}
.about{
	background-color:#E8E8E8;
	margin:0;
	
	box-shadow: 10px 10px 5px #888;
	
}
.about h2{
	display:inline-block;
	float:right;
	padding-right:120px;
	padding-top:60px;
	color:	#383838;
	font-size:60px;
	font-family:Garamond;
	margin:0;
}
.about h5{
	display:inline-block;
	float:right;
	padding-right:160px;
	color:	#4e89a4;
	font-size:20px;
	font-family:Papyrus;
	margin:0
}
body {
	padding-top: 50px;

	color:white;
	background-image: url("background.jpg");
	
	margin:0;
		
}

/*header*/
header{
	
	padding-top:30px;
	padding-bottom:20px;
	background:#505050;
	padding-right:25px;
	margin: 8px;
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.73);
	-moz-box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.73);
	box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.73);
}
header div{
	text-align: right;
	

}
header div a{
	font-family:Garamond;
	 text-decoration: none;
	 color:white;
	 padding-left:10px
}
header a{
	padding:5px;
	display:inline;
	margin:10px;
	font-size:15px;	
}
header a:hover{
	color:#4e89a4
}
.selected{
	color:#4e89a4
}

#photo{
	
	padding-left:30px;
	padding-right:30px;
	padding-bottom:50px;
	display:inline-block;
}
#profileimg{
	width:360px;
	height:400px;
	border: 1px solid #ddd;
    border: 5px solid 	#989898;
  	padding: 10px;  
}
#photo:hover{
	animation: photo 0.3s linear 1;
}
@keyframes photo{
  50%  {transform: scale(1.2);}
}


.content{

	display:inline-block;
	width:500px;
	float:right;
	margin-right:65px;
	color:grey;
	font-size:20px
}
#icons{
	padding-right:20px;
	position:relative;
	left:485px;
	bottom:150px
}
#icons a{
	padding-right:50px
}
#icons img:hover{
	opacity:0.5;
}
header #cursive{
	float:left;
	bottom:45px;
	left:30px;
	position:relative;
	font-family: Pacifico;
	font-size:40px;
	color: #4e89a4;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

/*education/experience tab*/

.edheaders{
	margin:0;
	padding-top:50px;
	text-align:center;
	font-size:35px;
	color:#505050;
}
.schcontent p{
	 padding: 0;
    margin: 0;
}
.schcontent{
	padding-left:50px;
}