#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:960px;
}
html{
box-sizing:border-box;
}
*,*:before, *:after{
box-sizing:inherit;
}

body {
	padding-top: 50px;
	background-color:#080808  ;
	color:white;
	font-family: Papyrus, fantasy;
	margin:0;
	
}
header{
	padding-top:20px;
	padding-bottom:20px;
	background:#202020;
	margin:0;
	

}
#header2{
	background:black;
	height:60px;
}

footer{
	background:black;
	color:white;
	height:85px;
}
footer div{
	padding-left:45px;
	top:10px;

}
footer div a{
	padding:10px;
	align:center;
	margin:0;
	font-size:0;
	float:left;
	left:30px;
	
}



.about{
	display:inline-block;
	background:black;
	padding-left:40px;
	width:960px;


}
.about img{
	display:inline-block;

	height:250px;
	width:250px;
	border-radius:50%;
	border: solid #00ccff ;
	

}

.about img:hover{
	-webkit-filter: brightness(70%);
   filter: brightness(70%);

}
.about h2{	
	font-size:50px;
	padding-top:10px;
	padding-left:40px;
	margin:0px
}
.about h5{
	padding-left:50px;
	font-family: Brush Script Std, Brush Script MT, cursive;
	font-size:30px;
	color:#00ccff;
	margin:0px
}
.about p{
	font-size:20px;
	padding-top:10px;
	padding-left:40px;
	margin:0px
	
}
.content{
	display:inline-block;
	width:600px;
	margin: 0 auto;
}

header div{
	text-align: center;
}

header div a{
	 text-decoration: none;
	 color:white;
}
header div a:hover{
	color:#00ccff;
	text-decoration: underline wavy;

}

a{
	
	padding:5px;
	display:inline;
	
	margin:10px;
	font-size:15px;
}

a:hover{
	color:black;
	text-decoration:none;
}
