body{
    font-family: 'Amatic SC';
    background-color:black;
    color:white
}

header{
    font-size:140px;
    margin:0;
    padding:0;
}

h1{
    margin:0;
    padding:0;
    color:#c2c2c2
}

.wrapper{
    padding-top:30px;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    width:60%;
    margin:auto;
  
  
   
} 


#profileImg{

    width:100%;
    height:100%;
    display:block;
}
#photo:hover{
	animation: photo 0.3s linear 1;
}
@keyframes photo{
  50%  {transform: scale(1.02);}
}
#icons a{
	padding:10px
}
#icons img{
    width:10%;
}

#icons img:hover{
	opacity:0.5;
}


#tile1 div{
    /* border: 0.5px solid grey; */
    height:33%;
}

#mainDiv{
    border-bottom:1px solid grey;
}
#borderRight{
    border-right:1px solid grey;
}
#borderLeft{
    border-left:1px solid grey;
}
#bottomLDiv{
    border-left:1px solid grey;
}
#bottomRDiv{
    border-right:1px solid grey;
}
#tile1 img{
    display:block;
    width:90%;
    padding-top:20%;
    padding-bottom:20%;
    margin:auto;
    
   
}
#contactInfo{
    display:block;
    height:33.2%;
   

}
#contactInfo h3{
    margin:0;
}

#aboutme:hover{
    
}

#projects:hover {

}

#resume:hover{

}

#experience:hover {

}

#education:hover{

}

#art:hover{

} 