
#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	padding-bottom:20px;
}
html{
box-sizing:border-box;
}
*,*:before, *:after{
box-sizing:inherit;
}


/*header style*/
header{
 	margin-left:auto;
    margin-right:auto;
    width:100%;
	position:relative;
	background:white;
	padding-bottom:20px;
	text-align:center;
	height:120px;

}
header #headbuttons{
	   padding-top:30px;
	   position:relative;
	 
}
header a{
	
	position:relative;
	text-decoration: none;
	color:black;
	padding-left:10px;
	padding-right:10px;
	font-family: Candara ;
	font-size:1.5vw;
}
header a:hover{
	color:#000040;
}
header .selected{
	color:#000040
}

/*dropdown*/
.dropbtn{
	 cursor: pointer;
	 padding-left:10px;
	 padding-right:10px;
}
.dropdown{
	padding-left:10px;
	padding-right:10px;
	position:relative;
	display:inline-block
	
}
.dropdown-content{
	left:-20px;
	padding-top:10px;
	display:none;
	position:absolute;
	min-width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
	background-color:white;
	color:black;
	padding: 10px 10px;
    text-decoration: none;
    display: block;
	text-align:left;
	font-size:15px
}
.dropdown-content a:hover{
	background-color:#778899;
	
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*slideshow*/
.pageHeaders{
	margin:20px 0px 5px 0;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:20px;
	color:white;
	background:	#000040;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#slideshow{
	background-image:url("biorobotics.jpg");
	width:100%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity:1;
    transition: opacity 1s; 

}



#slideshow.fadeOut{
	 opacity:0;

}

/* .prev, .next {
	background-color:#DCDCDC;
	cursor: pointer;
	position: absolute;
	top: 80%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.prev:hover, .next:hover{
	background-color:#282828
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

#tabs{
	display:grid;
    grid-template-columns:33% 33% 33% ;
	grid-column-gap: 1em;
	padding-top:30px;
	padding-bottom:30px;
}

#tabs img{
	width:90%;
	filter: brightness(50%);
	
}

#tabs img:hover{
	filter: brightness(100%);
	animation: photo 0.3s linear 1;

}

.cont{
	position:relative;
	text-align:center;
	color:white;
}
.textCont{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}
   
@keyframes photo{
    50%  {transform: scale(1.05);}
}

/*content*/

footer{
	padding-top:40px;
	padding-bottom:20px;
	background-color: #000040;
	text-align: center;
	-webkit-box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.81);
	box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.81);
}

.content{
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:30px 30px 30px 30px;
	color:#404040;
}
.content div{
	padding-bottom:20px
}

/*publications*/
.content li{
	margin:10px 20px 0px;
}
.pub button{
	background-color: Transparent;
	color:blue;
	border: none;
	background: none;

}
